
.pure-css-nav > nav ul li a			{color:#555;}
/* Level 1 */
.pure-css-nav > nav ul li				{background-color:rgba(0, 0, 0, 0.05);}
.pure-css-nav > nav ul li a			{font-size:1rem; /*line-height:50px;*/ padding:13px 20px;}

/* Level 2 and beyond */
.pure-css-nav > nav ul ul				{background-color:#d9d9d9;}
.pure-css-nav > nav ul ul li a			{font-size:0.8rem; /*line-height:35px;*/ padding:8px 20px;}




.pure-css-nav > nav li:hover			{cursor:pointer;}
.pure-css-nav > nav a					{text-decoration:none;}

/* Level 1 */
.pure-css-nav > nav ul					{display:flex; flex-wrap:wrap;}
.pure-css-nav > nav ul li				{overflow:hidden; white-space:nowrap; text-align:left;}
.pure-css-nav > nav ul li:hover			{overflow:visible;}
.pure-css-nav > nav ul > li				{position:relative;}
/* .pure-css-nav > nav ul li a				{display:block; height:100%;} */

/* Level 2 */
.pure-css-nav > nav ul ul				{visibility:hidden; opacity:0; position:absolute; z-index:1; display:block;}
.pure-css-nav > nav ul li:hover > ul	{visibility:visible; opacity:1;}

/* Level 3 */
.pure-css-nav > nav ul ul ul			{top:0; left:100%;}
.pure-css-nav > nav ul ul ul			{margin-top:5px;}
